.uw-comm2{
	width:0.625em;
}
.uh-comm2{
	height:0.625em;
}

.t-gra-comm{
	color:#989898;
}
.t-gra2-comm{
	color:#707070;
}
.umar-r-comm{
	margin-right:2em;
}
.praise{
	background-image:url('myImg/zan.png');
}
.c-gra-comm{
	background-color:#E7FADA;
}
.uinn-comm{
	padding:0.42em 0.625em 0.625em 0.625em;
}
.line-hei-com{
	line-height:1.6em;
}
.uh-app3{
	height:2.8125em;
}
.uw-app3{
	width:2.8125em;
}
.uc-a-app2{
	-webkit-border-radius: 2.8125em;
	border-radius: 2.8125em;
}

.title{
	  background-color:#51D1EE;
	  color:#fff;
	  font-size:0.85em;
}
.zan{
	 margin-right:1em;
	 
}
.relay{
	margin-right:1em;
}
#title{
	text-align:center;
	font-size:1.5em;
	color:#000;

	
}
#content{

	font-size:1em;
	color: rgb(102, 102, 102);
	
}
#time{
	text-align:center;;
	color:#ccc;
	font-size:0.8em;
	
}
.r-title{ 
   font-size:0.8em;
   color:#A8B5AD;
      font-family:'微软雅黑';
	
   }
.r-content{
	   font-size:0.8em;
	   line-height:150%;
   color:#A8B5AD;
   font-family:'微软雅黑';
}
.content{
	 background-color:#DDF8FF;

}
.fullimg{
	background-size:2.8125em 2.8125em;
	border:solid 1px #ccc;
}


