.b-gra{
	border-color:#d6d6d6;
	background-color:#FAF6D9;
	margin-top:0.5em;
}
.t-gra
{
	color:#a1a1a1;
}
.t-gra1{
	color:#787878;
}
.umwh1{
	min-height:3.31em;
	min-width:3.78em;
}

.rating div{ 
    color:#fff;

	}
.rating-top{
	 	font-size:2em;

		margin-left:0.3em;
		margin-right:0.3em;
		margin-top:0.3em;
		margin-bottom:0;

}
.rating-bottom{

	font-size:0.6em;
		
}	

.uwh-set3{
	width:5.25em;
	height:5.25em;
}

.uc-a-set3 {
	-webkit-border-radius: 5.25em;
	border-radius: 5.25em;
}
