.ufm1{
	font-family:Arial ,幼圆;
}
.c-blu{
	background-color:#ff8000;
}
.c-my{
	 background-color:#FF568D;
	height: 2.6em;
}
.c-btn{
	   background-color:#51D1EE;
}
.c-wh
{
	background-color:#FFF;
    border-color: rgb(203, 203, 203)
}
.c-wh2{
	background-color:#f1f1f1;
}
.c-gra1{
	background-color:#e8e8e8;
}
.c-org{
	background-color:#f78c3e;
}
.t-wh
{
	color:white;
}
.t-bla
{
	color:#000000;
}
.t-gra3{
	color:#484848;
}
.t-gre{
	color: #006600;
}
.t-blu{
	color:#218dd5;
}
.t-red1
{
	color:#de1010;
}
.t-org{
	color:#ef6413;
}
.t-org2{
	color:#f78c3e;
}
.b-blu2{
	border-color:#218dd5;
}
.b-gra2{
	border-color:#c0c0c0;
}
.b-gra4{
	border-color:#cccccc;
}

.uinn-a1{
	padding:0.625em;
}
.uinn-a2{
	padding:0.85em 0;
}
.uinn-a3{
	padding:0 0.65em;
}
.uinn-a7{
	padding:0 0.625em;
}
.uinn-a9{
	padding:0.75em 0.625em;
}
.uinn-a10{
	padding:1em 0;
}
.uinn-a11{
	padding:0.625em 0;
}
.uinn-a12{
	padding:0.5em 0;
}
.uinn-a16{
	padding:0.125em;
}
.uinn-a17{
	padding:0.82em 0.5em;
}
.uinn-at1{
	padding-top:1em;
}
.mar-aL1{
	margin-left:0.625em;
}
.mar-ar1{
	margin-right:0.625em;
}
.umar-ar3{
	margin-right:0.5em;
}
.umar-ar6{
	margin-right:0.46875em;
}
.umar-at1{
	margin-top:0.625em;
}
.umar-at2{
	margin-top:1em;
}

.uwh-tBtn{
	width:1.75em;
	height:1.75em;
}
.btn_wh1{
	width:1em;
	height:1em;
}
.btn_wh2{
	width:1.4em;
	height:1.4em;
}
.arrow{
	background-image:url('images/arrow.png');
}
.ulev-app1{
	font-size:0.875em;
}
.ulev-app2{
	font-size:0.9375em;
}

.banner {
	background-image:url('images/banner.jpg');
	height: 10em;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.testss{
	height: 26em;
}
/*底部信息数*/
.c-org-pS1{
	background-color:#ef6413;
}
.uc-a-pS1 {
	-webkit-border-radius: 0.625em;
	border-radius: 0.625em;
}
/*header*/
.t-btn-a1{
	background-image:url('images/t-btn1.png');
}
.t-btn-a4
{
	background-image:url('images/t_del.png');
}
.b-btn-pSC1{
	background-image:url('images/returnBtn.png');
}

.msg_group{
    background-color: #ffffff;
    -webkit-border-radius:0.3em;
    margin: 10px 15px;
    padding: 10px;
}
.msg_group_author{
    width: 3em;

}
.author_name{
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    color: rgb(102, 102, 102);
    font-size: 1.3em;
}
.msg_group_title{
    font-size: 1.3em;
    color: rgb(31, 31, 31);
}
.msg_group ul li{
    display: table-row-group;
    font-family: 幼圆;
}
.msg_group_content_image img{
    width: 3em;
    height: 3em;
}
.msg_group_content_photo {
    margin: 0.2em;
}
.msg_group_content{
    color: rgb(53, 53, 53);
}
.msg_message_number{
}
.msg_group_reply{
    text-align: right;
    font-family: Arial;
    font-size: 0.8em;
    padding: 0.5em;
}
.msg_group_reply img{
    margin-left: 2em;
    margin-right: 0.5em;
	height: 1.5em;
}
.msg_group img{
    -webkit-border-radius: 8px;
}
.comment_group > div{
    margin: 0.1em;
}
.floor{
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    color: rgb(102, 102, 102);
    font-size: 0.8em;
    position: absolute;
    right: 1em;
    text-align: right;
}
.reply_time{
    font-size: 0.6em;
    top: 1.5em;
}
.reply_con{
    width: 100%;
    height: 7em;
	font-size: 1em;
    -webkit-border-radius: 0.2em;
}
.reply_btn{
    width: 100%;
    height: 3em;
    color: #FF568D;
    font-width: bolder;
    font-family: 幼圆;
    font-size: 1em;
}
.test{
	width:	5em;
	height: 3em;
	background-color: red;
}
.board1{
	background-color: #03a343;
}
.board2{
	background-color: #0066ae;
}
.board3{
	background-color: #ff6600;
}
.board4{
	background-color: #00cd9a;
}
.board5{
	background-color: #00b4ff;
}
.board6{
	background-color: #00ae42;
}
.line{
	height: 6em;
	width: 100%;
	display: -webkit-box !important;
	margin: 0.5em 0;
}
.line-w2{
	width: 61.25%;
}
.line-w1{
	width: 29%;
}
.line > div{
	height: 100%;
}
.line > div > img{
	margin-top: 1.5em;
}
.home {
	color: white;
	text-align: center;
}
.home-h1{
	text-align: left;
	margin: 0.2em;
}
.home-content{
	text-align: left;
	margin: 0.2em;
}
.white-line{
	width: 3.25%;
}
.h-house{
	background-image: url('images/house.jpg');
	background-size: cover;

}
.home-page{
	margin-top: 1em;
}
.home-footer{
	height: 2.7em;
}
.footer-label{
	height: 0.5em;
	line-height: 0;
}
.tip_suc{
	color: #909090;
	text-align: center;
}
.tip_h1{
	font-size: 2em;
	margin-top: 3em;
	margin-bottom: 1em;
}
.tip_btn{
	margin: 4em;
	padding: 1em;
	background-color: #00af42;
	-webkit-border-radius: 0.2em;
	color: white;
}
.headphoto{
	overflow: hidden;
	height: 3em;
	width: 3em;
	-webkit-border-radius: 8px;
}