/*****新加的按钮样式*******/

 
.bt-icon6{
 	background-image:url('button/icon6.png') !important;
 }
.btn-act .bt-icon6{
 	background-image:url('button/icon6-act.png') !important;
 }
 .bt-icon8{
 	background-image:url('button/icon8.png') !important;
 }
.btn-act .bt-icon8{
 	background-image:url('button/icon8-act.png') !important;
 }
.bt-icon9{
 	background-image:url('button/icon9.png') !important;
 }
.btn-act .bt-icon9{
 	background-image:url('button/icon9-act.png') !important;
 }
 .bt-icon10{
 	background-image:url('button/icon10.png') !important;
 }
.btn-act .bt-icon10{
 	background-image:url('button/icon10-act.png') !important;
 }
 .bt-icon11{
 	background-image:url('button/icon11.png') !important;
 }
.btn-act .bt-icon11{
 	background-image:url('button/icon11-act.png') !important;
 }
 .bt-icon12{
 	background-image:url('button/icon12.png') !important;
 }
.btn-act .bt-icon12{
 	background-image:url('button/icon12-act.png') !important;
 }
 .bt-icon13{
 	background-image:url('button/icon13.png') !important;
 }
.btn-act .bt-icon13{
 	background-image:url('button/icon13-act.png') !important;
 }
 .bt-icon14{
 	background-image:url('button/icon14.png') !important;
 }
.btn-act .bt-icon14{
 	background-image:url('button/icon14-act.png') !important;
 }
 .bt-icon15{
 	background-image:url('button/icon15.png') !important;
 }
.btn-act .bt-icon15{
 	background-image:url('button/icon15-act.png') !important;
 }
 .bt-icon16{
 	background-image:url('button/icon16.png') !important;
 }
.btn-act .bt-icon16{
 	background-image:url('button/icon16-act.png') !important;
 }
 .bt-icon17{
 	background-image:url('button/icon17.png') !important;
 }
 .btn-act .bt-icon17{
 	background-image:url('button/icon17-act.png') !important;
 }
 .bt-icon18{
 	background-image:url('button/icon18.png') !important;
 }
.btn-act .bt-icon18{
 	background-image:url('button/icon18-act.png') !important;
 }
 .bt-icon19{
 	background-image:url('button/icon19.png') !important;
 }
.btn-act .bt-icon19{
 	background-image:url('button/icon19-act.png') !important;
 }
 .bt-icon20{
 	background-image:url('button/icon20.png') !important;
 }
.btn-act .bt-icon20{
 	background-image:url('button/icon20-act.png') !important;
 }
 .bt-icon21{
 	background-image:url('button/icon21.png') !important;
 }
.btn-act .bt-icon21{
 	background-image:url('button/icon21-act.png') !important;
 }
 .bt-icon22{
 	background-image:url('button/icon22.png') !important;
 }
.btn-act .bt-icon22{
 	background-image:url('button/icon22-act.png') !important;
 }
 .bt-icon23{
 	background-image:url('button/icon23.png') !important;
 }
.btn-act .bt-icon23{
 	background-image:url('button/icon23-act.png') !important;
 }
 .bt-icon24{
 	background-image:url('button/icon24.png') !important;
 }
.btn-act .bt-icon24{
 	background-image:url('button/icon24-act.png') !important;
 }
 .bt-icon25{
 	background-image:url('button/icon25.png') !important;
 }
.btn-act .bt-icon25{
 	background-image:url('button/icon25-act.png') !important;
 }
 .bt-icon26{
 	background-image:url('button/icon26.png') !important;
 }
.btn-act .bt-icon26{
 	background-image:url('button/icon26-act.png') !important;
 }
 .bt-icon27{
 	background-image:url('button/icon27.png') !important;
 }
.btn-act .bt-icon27{
 	background-image:url('button/icon27-act.png') !important;
 }
 .bt-icon28{
 	background-image:url('button/icon28.png') !important;
 }
.btn-act .bt-icon28{
 	background-image:url('button/icon28-act.png') !important;
 }
 .bt-icon29{
 	background-image:url('button/icon29.png') !important;
 }
.btn-act .bt-icon29{
 	background-image:url('button/icon29-act.png') !important;
 }
 .bt-icon30{
 	background-image:url('button/icon30.png') !important;
 }
.btn-act .bt-icon30{
 	background-image:url('button/icon30-act.png') !important;
 }
 .bt-icon31{
 	background-image:url('button/icon31.png') !important;
 }
.btn-act .bt-icon31{
 	background-image:url('button/icon31-act.png') !important;
 }
.res2{
	background-image:url('images/t-arrow.png');
}
.res3{
	background-image:url('images/b-arrow.png');
}
.inp_name{
	background-image:url(images/inp_name.png);
}
.inp_pas{
	background-image:url(images/inp_pas.png);
}
.inp_sear{
	background-image:url(images/inp_sear.png);
}
.res-hook{
 	background-image:url('images/hook.png')
}
.listIcon{
 	background-image:url('images/left.png')
 }
.imgList{
	background-image: url('images/img1.png');
}