
body {
	margin: 0px;
	background-color: #8FBC8F;
	font-family:"微软雅黑";
}
a:link {
	text-decoration: none;
	color:#000000;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}




#sitebox{ width:990px; background-color:#FFFFFF; margin:0 auto; }

#Search{ width:990px; height:48px; line-height:48px; margin:0 auto;}
.gonggao{ width:200px; float:left;  margin-left:10px; overflow:hidden; height:600px;}
.t_t{ width:200px; float:left; background-image:url(../images/pageMid3.gif); height:32px; line-height:32px;}
.t_t strong{ color:#FFFFFF; margin-left:30px; float:left;}
.t_v{ width:198px; border-bottom:1px solid  #8FBC8F; border-left:1px solid #8FBC8F; border-right:1px solid #8FBC8F; font-size:14px; float:left; margin-bottom:10px;}

.boxlist{ width:400px; float:left; height:600px;}
.flash{ width:400px; float:left; height:200px; border:1px solid #CCCCCC; margin-left:5px;}
.newlist{width:400px;  float:left; margin-left:5px; margin-top:10px; }
.boxright{ width:360px; float:right; height:600px; margin-right:10px; }

.title{ width:100%; background-image:url(../images/pageMid2.gif); height:32px; line-height:32px; float:left; color:#FFFFFF;border-right:2px solid #669966;}
.title strong{line-height:28px; width:74%; float:left;  margin-left:5%;}
.title span{line-height:28px; width:19%; float:left; }
.content{ width:100%; float:left;border-bottom:1px solid #669966; border-left:1px solid #669966; border-right:1px solid #669966; font-size:14px; margin-bottom:10px;}
.content a{ line-height:28px; width:79%; float:left; border-bottom:1px dashed #CCCCCC; margin-left:1%; color:#333333;}
.content span{ line-height:28px; width:19%; float:left;border-bottom:1px dashed #CCCCCC; }
.article_left{ width:740px; float:left; margin-top:10px;}
.article_right{ width:250px; float:left;margin-top:10px;}
.abox{ width:360px; float:left; margin-left:10px;  margin-bottom:10px; overflow:hidden;}
.t1{  height:32px; width:360px; float:left; font-size:16px; }
.t1 a{color:#333333;width:70%;margin-left:1%; float:left;}
.t1 span{width:28%; float:left;}
.c1{ width:358px; float:left; border-bottom:1px solid  #8FBC8F; border-left:1px solid #8FBC8F; border-right:1px solid #8FBC8F; font-size:14px;}
.c1 a{ line-height:28px; width:70%; float:left; border-bottom:1px dashed #CCCCCC; margin-left:1%;overflow:hidden; color:#333333; }
.c1 span{ line-height:28px; width:28%; float:left;border-bottom:1px dashed #CCCCCC; }

.b1{ float:left; background:url(../images/box_l.gif) no-repeat; width:7px; height:32px;}
.b2{ float:left; line-height:34px!important; line-height:32px; background:url(../images/box_c.gif) repeat-x;width:347px;_width:346px; height:32px; }
.b3{ float:left; background:url(../images/box_r.gif) no-repeat; width:6px; height:32px;}

.t2{ width:230px; float:left; background-image:url(../images/pageMid3.gif); height:32px;float:left; font-size:16px; line-height:32px; margin-left:10px;}
.t2 strong{margin-left:30px; float:left; font-size:16px; color:#FFFFFF;}
.c2{ width:228px;float:left; border-bottom:1px solid  #8FBC8F; border-left:1px solid #8FBC8F; border-right:1px solid #8FBC8F; font-size:12px;margin-left:10px; margin-bottom:10px; line-height:25px;}
.c2 li{ float:left; margin-top:10px; border-bottom:1px dashed #CCCCCC;}



#video{ width:970px; margin:0 auto; height:200px;}
.v_t{ width:100%; float:left; height:32px; background-image:url(../images/nNavBg.gif); line-height:32px;}
.v_c{ width:100%; float:left;}
.v_c .video{
	float:left;
	width:180px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	}
.v_c .video img{
	
	border:1px solid #CCC;
	padding-top:10px;
	padding:2px;}	
.v{ width:150px; height:150px; float:left;}
#mainlist{ width:990px;margin:0 auto; }
.z_box{ width:480px; float:left; margin-left:10px;  margin-bottom:10px; overflow:hidden;}
.z_t1{  height:32px; width:480px; float:left; font-size:16px; }
.z_t1 a{color:#333333;width:70%;margin-left:1%; float:left;}
.z_t1 span{width:28%; float:left;}
.z_c1{ width:478px; float:left; border-bottom:1px solid  #8FBC8F; border-left:1px solid #8FBC8F; border-right:1px solid #8FBC8F; font-size:14px;}
.z_c1 a{ line-height:28px; width:70%; float:left; border-bottom:1px dashed #CCCCCC; margin-left:1%;overflow:hidden; color:#333333; }
.z_c1 span{ line-height:28px; width:28%; float:left;border-bottom:1px dashed #CCCCCC; }

.z_b1{ float:left; background:url(../images/box_l.gif) no-repeat; width:7px; height:32px;}
.z_b2{ float:left; line-height:34px!important; line-height:32px; background:url(../images/box_c.gif) repeat-x;width:467px;_width:466px; height:32px; }
.z_b3{ float:left; background:url(../images/box_r.gif) no-repeat; width:6px; height:32px;}
#friend{ width:99%; margin:0 auto; height:28px; line-height:28px;}
#footer{ width:100%; height:80px; background-color:#548B54; color:#FFFFFF; font-size:12px;}
#footer a{ color:#FFFFFF;}
.f_left{width: 200px; height: 100%; float: left;}
.f_mid{width: 600px; height: 100%; float: left;line-height: 20px; }
.f_mid span{padding: 0 10px 0 15px;}
.f_right{width: 90px; height: 100%; float: right; }
.fenlei{ width:50%; float:left; height:25px; line-height:25px; font-size:14px;color:#333333;}
.fenlei a{ color:#333333;}