@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	background-color: #8FBC8F;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

#mainbox{ width:990px; margin:0 auto; margin-top:10px;}
.mainleft{ width:675px; float:left;}
.nav{ width:650px; margin:0 auto; height:28px; line-height:28px;}
h2{ width:650px; text-align:center; margin:0 auto;}
.article{ width:650px; height:28px; line-height:28px; border-bottom:1px dashed #CCCCCC; font-size:14px;}
.article a{ width:79%; float:left; height:28px; margin-left:1%; color:#333333;}
.article span{ width:20%; float:left; height:28px;}
.pagelist{ width:650px; height:32px; line-height:32px; text-align:center;}

.mainright{ width:300px; float:left; margin-left:10px;}
.t1{ background-image:url(../images/t1.gif); height:32px; line-height:32px;}
.t1 strong{ color:#FFFFFF; margin-left:30px;}
.c1{ width:100%; float:left; font-size:14px; line-height:25px;}
.c1 a{ color:#333333;}
.fenlei{ width:50%; float:left; height:25px; line-height:25px; font-size:14px;color:#333333;}
.fenlei a{ color:#333333;}
