body {
font-family: 幼圆;
}
.form{
    padding-top: 0.1em;
}
.t-btn {
    width: 25%;
    height: 3em;
    line-height: 3em;
    padding: 0.5em;
    color: white;
    text-align: center;
    font-family: 幼圆;
    -webkit-border-radius: 0.1em;
}
.t-btn-group{
    border: none;

}
.t-btn-group div{
    width: inherit;
}
.t-btn-group a{
    text-decoration: none;
}
.t-btn-my{
    background-color: #00ae42;
}
.t-btn-doctor{
    background-color: #00cd9a;
}
.t-btn-hospital{
    background-color: #00b4ff;
}
.filter{
    height: 2em;
    background-color: white;
}
.keyword{
    height: 35px;
    font-size: 1em;
    border: none;
    width: 25%;
}
.keyword input{
    width:  80%;
    border: 1px solid rgb(209, 209, 213);
    font-size: 1.2em;
    padding: 0.2em;
}
.filter_btn{
    background-color: #ff6600;
    font-size: 1em;
    height: 2em;
    width: 16%;
    line-height: 2em;
    color: white;
    text-align: center;
    -webkit-border-radius: 0.1em;
}
.list{
    background-image:url('fold.png');
    margin: auto 0.2em;
}
.lists{
    padding:0.3em 0.5em;
    margin:0;

}
.city{
    width: 30%;
}
.grade{
    width: 22%;
}
.list-group{
    display: -webkit-box;
    background-color: white;
    margin: 0.5em 0em;
    padding: 0.5em;
    border-radius: 0.2em;
}
.list-info div{
}
.list-image{
    height: 6em;
}
.list-image img{
    height: 6em;
    width: 5em;
}
.list-name{
    font-weight: 800;
    margin: 0.5em;
    padding-top: 0.1em;
}
.list-grade{
    color: #999999;
    margin: 0.2em 0.5em;
}
.list-grade span{
    color: #ff6600;
}
.list-city{
    color: #999999;
    margin: 0.2em 0.5em;
}
.list-hospital{
    margin: 0.2em 0.5em;
    color: #999999;
}
.list-more {
    display: flex;
}
.list-more img{
    width: 2em;
}
.book{
    background-color: #ff6600;
}

.uinnh5
{
    padding:0.8em 0.5em;
    margin:0;
}
.item{
    display: -webkit-box;
}
.sc-text > img{
    height: 0.9em;
}
.ubaa {
    border: 1px solid rgb(208, 208, 208);
    -webkit-border-radius: 0.2em;
    background-color: white;
    margin: 0.8em;
}
.ubaa input{
    outline: none;
}
.verify{
    width: 70%;
}
.verify input{
    display: inherit;
}
.ubaa-2{
    display: flex;
}
.send{
    color: #ffffff;
    background-color: #00d049;
    width: 30%
}
.umar-a{
    margin: 0.8em;
}

.div-link{
    text-decoration: none;
    color: #333333;
}
.div-4{
    width: 40%;
}
.div-2{
    width: 20%;
}
.div-left{
    margin-left: 1em;
}